

body { margin: 0; padding: 0;
margin-top: 0 }




.title {
/*  font-size:3rem ;	
*/  position: relative;
left: 0%;
  top: -0px;
  background-color: white;
  z-index: 1;
  width: 100%;
  height: 63px;
  transform: rotate(4deg);
font-family: helvetica, sans-serif;
font-size: 2rem;
letter-spacing: 50px;
text-transform: lowercase;


}

.WYN { position: relative;
        top:-30px ;
        left: 900px  ;
        font-family: 'Cedarville Cursive', cursive; 
        font-size: 1rem;
        background-color: white;
        height: 70px;
        letter-spacing: 50px


      }

  .ingredients {

position: relative;
left: 300px;
top: 150px;
width: 20%;
letter-spacing: 50px




  }

  .HYDI {

 position: relative;
 left: 50px;
 font-family: 'Cedarville Cursive', cursive;
 font-size: 1rem;
 background-color: white;
 letter-spacing: 50px

  }

  .step1 { position: relative;
  			left: 100px;
  			width: 200px;
        letter-spacing: 50px
         }

    .step2 {position: relative;
  			left: 400px;
  		  width: 150px;
        letter-spacing: 50px
    }

      .step3 {position: relative;
  			left: 300px;
  			width: 300px;
        letter-spacing: 50px
      }

  			.step4 {position: relative;
  			left: 400px;
  			width: 200px;
        letter-spacing: 50px
}

        .final_quote {
          position: relative;
  			left: 800px;
        bottom: 700px ;
  			width: 700px;
        transform: rotate(-20deg);

        text-align: center;}




.hi {

        position: relative;
        top:0px ;
        left: 60px  ;
        font-family: 'Cedarville Cursive', cursive; 
        font-size: 1rem;
        text-align: center;
        letter-spacing: 50px


}











