

body { margin: 0; padding: 0;
margin-top: 0 }


.title {
/*  font-size:3rem ;	
*/  position: relative;
left: 20%;
  top: -200px;
  background-color: white;
  z-index: 1;
  width: 70%;
  height: 60px;
  transform: rotate(20deg);
font-family: 'Coda Caption', sans-serif;
font-size: 6rem;

}

.WYN { position: relative;
        top:50px ;
        left: 90px  ;
        font-family: 'Cedarville Cursive', cursive; 
        font-size: 4rem;

      }

  .ingredients {

position: relative;
left: 300px;
top: 150px;
width: 20%;


  }

  .HYDI {

 position: relative;
 left: 100px;
 font-family: 'Cedarville Cursive', cursive;
 font-size: 6rem;

  }

  .step1 { position: relative;
  			left: 100px;
  			width: 100px }

    .step2 {position: relative;
  			left: 400px;
  		width: 50px}

      .step3 {position: relative;
  			left: 300px;
  			width: 50px}

  			.step4 {position: relative;
  			left: 400px;
  			width: 150px}

        .final_quote {
          position: relative;
  			left: 800px;
        bottom: 700px ;
  			width: 700px;
        transform: rotate(-20deg)}




.hi {

        position: relative;
        top:50px ;
        left: 600px  ;
        font-family: 'Cedarville Cursive', cursive; 
        font-size: 3rem;

}











