


body { 
			width: 100%;
			cursor: url('blackmouse2.png'), pointer;
			background-color: pink;
}



a 		{ 		
	font-family: arial; 
	text-decoration: none; 
	cursor: url('blackmouse2.png' ) , auto;

}


a:hover { 	
	font-style: oblique;

}


.header {	
			width: 80%;
			height: 40px;
			font-family: helvetica;
			margin: 90pt;
			transform: rotate(7deg);
			background-color: yellow;	
			display: flex;
			align-items: center;
			justify-content: center;
			color: pink;
			font-size: 16px;
			cursor: url('blackmouse2.png' ) , auto;
}

.header:hover {
	background-color: red;
	color: yellow;
}



.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}


.projects{
	text-align: right;
	line-height: 30px;
	width: 200px;
	height: 200px;
}

.projects a{
	color:yellow;
}

.projects a:hover{
	color:red;
}


.image {
	margin: 20pt;
	width: 200px;
	height: 200px;

}


.image img{
	width: 200px;
	height: 200px;
}


.footer {
			margin-top: 50px;
			top: 0px;
			font-size: 15px;
			text-align: center;
			line-height: 20px;
}

.footer a {
	color: white
}


.footer a:hover {
	color: black
}








