


body { 
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: space-around;
			flex-wrap: wrap;
			cursor: url('blackmouse2.png'), pointer;
			background-color: white;
}


.header {	background-color: white; 
			width: 600px;
			height: 20px;
			font-family: helvetica;
			margin: 20px;
			transform: rotate(7deg);
			position: relative;top: 60px;
			background-color: yellow;	
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rose;
			color: white !important;
			font-size: 16px;
			cursor: url('blackmouse2.png' ) , auto;
}
	
.title 	{ 	font-family: arial;
			cursor: url('blackmouse2.png' ) , auto;
}

p 		{ 		
			font-family: arial; color: #00000;
			cursor: url('blackmouse2.png' ) , auto;
			font-size: 10px;
}

.interaction_class {
			margin: 11px;

}


a 		{ 		
			font-family: arial; 
			text-decoration: none; 
			color: black;
			cursor: url('blackmouse2.png' ) , auto;

}


a:hover { 	font-style: oblique;
			cursor: url('blackmouse2.png' ) , auto;

}

.contact { 	width: 300px;
			cursor: url('blackmouse2.png' ) , auto;

}


.window_gif {
			margin: 30px;
			transform: rotate(-7deg);
			cursor: url('blackmouse2.png' ) , auto;

}


.footer {
			margin: 50px;
			position: static;
			top: 0px;
			height: 300%;
			cursor: url('blackmouse2.png' ) , auto;

}

footer {

			font-size: .3rem;
			text-align: right;
			cursor: url('blackmouse2.png' ) , auto;

}






