


body {
		margin: 0;
		background-color: #D8D8D8;

}

.container {
		position: fixed;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: url('img/red_light.png'), pointer;
}

 .barcode img {
		width: 170px;

	
}



.barcode img:hover {
		width: 170px;


	
}




.Background_Barcode {
		position: fixed;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: url('img/red_light.png'), pointer;
}

 .Bg_barcode {
		width: 170px;
		height: 50px;
		z-index: 1;
	
}

 .Bg_barcode:hover {
background-color: red;
filter: blur(60px);


}
	


.footer { position: fixed;
		 bottom:5%;
		 display: flex;
		 justify-content: center;
		 align-items: center;
		 text-align: center;
		 font-family: helvetica-light;
		 font-size: 11px;
		 opacity: 50%;

 }

.audio img {
	height: 22px;
	position: fixed;
	right: 3%;
	top: 3%;
	opacity: 20%;
	display: flex;
	justify-content: flex-end;


}

.audio img:hover {
	height: 5%;
	position: fixed;
	right: 3%;
	top: 5%;
	display: flex;
	justify-content: flex-end;



}

